<h1>Sad to see you go!</h1>
<h2>Would you reall like to dlete your account?</h2>
<form method="POST">

    {{#userData}}
        {{errorReadingForm}}
    {{/userData}}

    <input type="checkbox" name="waiver" id="" />
    <p>
        Yes, please delete my account. This will also remove my support from the
        Petition.
    </p>

    <button type="submit">Delete 4-ever</button>
</form>