<header>
    <h1>${Petition}</h1>
    <div id="menu">
        <a href="/userdata">YOUR PROFILE</a></div>
</header>
<section>
    <h2 class="welcome">Sad to see you go.</h2>
    <p class="welcome">Please confirm that you indeed intended to delete your
        account. There is no coming back from this, you know?</p>
    <form method="POST">

        {{#userData}}
            <p class="welcome">{{#if errorReadingForm}}Pls. check the box!{{/if}}</p>
        {{/userData}}

        <input class="waiver_checkbox" type="checkbox" name="waiver" id="" />
        <p class="waiver">
            Yes, please delete my account. This will also remove my support from
            the Petition.
        </p>

        <button class="form-submit" type="submit">Delete 4-ever</button>
    </form>
</section>