<header>
    <h1>${Petition}</h1>
    <div id="menu">
        <a href="/userdata">YOUR PROFILE</a></div>
</header>
<section>
    <h2 class="welcome">Finish profile</h2>
    <p class="welcome">We would like to understand, where our supporters are
        coming from. Please give us more marketable data.</p>
    <form method="POST">

        <input
            class="form-field"
            type="text"
            name="age"
            placeholder="Your Age"
        />
        <input
            class="form-field"
            type="text"
            name="city"
            placeholder="Your City"
        />
        <input
            class="form-field"
            type="text"
            name="website"
            placeholder="Your Website"
        />

        <button class="form-submit" type="submit">SUBMIT</button>

    </form>
</section>