<h2>Thanks</h2>
{{#supporters}}
    <img src="{{currentSignature}}" alt="" />
    <a href="/supporters">See all {{amount}} signing supporters</a>
{{/supporters}}
<a href="/userdata">Update your profile</a>
<a href="/unsign">Remove your support</a>