<header>
    <h1>${Petition}</h1>
    <div id="menu">
        <a href="/userdata">YOUR PROFILE</a></div>
</header>
<section>
    <h2 class="welcome">Please don't!</h2>
    <p class="welcome">But if you have to, it's also okay.</p>
    <form method="POST">

        {{#userData}}
            <p class="welcome">{{#if errorReadingForm}}Pls. check the box!{{/if}}</p>
        {{/userData}}

        <input class="waiver_checkbox" type="checkbox" name="waiver" id="" />
        <p class="waiver">
            Yes, please remove my support. I trust that you really will.
        </p>

        <button class="form-submit" type="submit">Unsign</button>
    </form>
</section>